// Cброс стилей библиотеки Element UI

// Свитчи
.el-switch__core {
  background-color: transparent;
  border: none;
  border-width: 1px;
  border-color: #bdd0da;
  &::after {
    background: #bdd0da;
    width: 15px;
    height: 15px;
    top: 2px;
  }
}
.el-switch {
  border: 1px solid #bdd0da;
  border-radius: 10px;
  background: transparent;
  height: 20px;
  margin-right: 10px;
}
.el-switch.is-checked .el-switch__core {
  background-color: transparent;
  border-color: #bdd0da;
  &::after {
    background: #61d6f2;
    margin-left: -16px;
  }
}

// Рэнджи

.el-slider__button.dragging, .el-slider__button.hover, .el-slider__button:hover {
  -webkit-transform: scale(1.2);
  transform: scale(1);
  border: 1px solid #BDD0DA;
  box-shadow: 5px 5px 15px rgba(0,0,0,0.1);
}

.el-slider__button {
  width: 12px;
  height: 12px;
  border: 1px solid #BDD0DA;
  background-color: #FFF;
  border-radius: 50%;
  transition: .2s;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.el-slider__button-wrapper {
  z-index: 20;
}

// Чекбоксы

.el-tree-node__content>label.el-checkbox {
  margin-right: 10px;
}

.el-checkbox__inner {
  border-color: #8394A5;
  transition: none;
  border-radius: 3px;
  &:hover {
    border-color: #8394A5;
  }
}

.el-checkbox__input.is-focus .el-checkbox__inner {
  border-color: #8394A5;
}

.el-checkbox__input.is-checked+.el-checkbox__label {
  color: #000000;
}
.el-checkbox__label {
  font-size: 12px;
  max-width: 200px;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  line-height: normal;
}
.el-checkbox__input {
  display: flex;
  justify-content: center;
  align-items: center;
}

// Дерево

.el-tree-node {
  margin-top: 5px;
  &__content {
    padding: 6px 0;
  }
}

.tree__node {
  margin-left: 0px;
}

/* Сброс стилей библиотеки SweetAlert */
.swal2-actions button {
  font-family: Arial, sans-serif;
  border: none;
  box-shadow: none;
  font-size: 17px;
  font-weight: 500;
  -webkit-border-radius: 4px;
  border-radius: 5px;
  padding: 10px 32px;
  margin: 26px 5px 0 5px;
  cursor: pointer;
}

.swal2-actions {
  flex-direction: row-reverse;
}

.swal2-styled:focus {
  outline: 0;
  box-shadow: none;
}
