// Настройки UI библиотеки
@import "settingsUI";

// Импорт иконок классов объектов
@import "classes";

// Скролл
::-webkit-scrollbar {
  width: 12px;
  height: 12px;
  background-color: transparent;
  margin-left: 12px;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
  border-color: #bdd0da;
  border-width: 1px;
  border-style: solid;
  background-color: transparent;
}

::-webkit-scrollbar-track:hover {
  border-color: rgba(0, 0, 0, 0.4);
}


::-webkit-scrollbar-thumb {
  background-color: #bdd0da;
  border: 3px solid transparent;
  border-radius: 10px;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.7);
}

// Основные сбросы стилей браузеров
h1, h2, h3, h4, h5, h6, p {
  margin: 0;
}

ul, li {
  list-style: none;
  margin: 0;
  padding: 0;
}

body {
  width: 100%;
  height: 100%;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

// Ресайз
//.ui-resizable-handle {
//  &:hover {
//    background: #a9a9a9;
//  }
//}

// Основные компоненты

.button {
  padding: 10px 15px;
  outline: none;
  cursor: pointer;
  border-radius: 2px;
  color: white;
  border: none;
  font-size: 12px;
  line-height: 14px;
  font-weight: 400;
}

.btn {
  &__opacity {
    background: none;
    outline: none;
    color: #43A2E3;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 14px;
    border: none;
    cursor: pointer;

    &:hover {
      color: #1480c4;
    }
  }

  &__first-priority {
    background: #43a2e3;

    &:hover {
      background: #1480c4;
    }
  }

  &__second-priority {
    background: #BDD0DA;

    &:hover {
      background: #8394A5;
    }
  }
}

.vue-switcher-theme--default.vue-switcher-color--default div {
  border: 1px solid #BDD0DA;
  border-radius: 10px;
  background: transparent;
  height: 20px;
  width: 38px;
}

.gantt-elastic__header-task-list-switch--wrapper {
  font-size: 12px;
}

.vue-switcher-theme--default.vue-switcher-color--default div::after {
  background: #61D6F2;
  width: 13px;
  height: 13px;
  top: 2.5px;
  margin-left: -12px;
}

.gantt-elastic__header-task-list-switch {
  margin-left: 0 !important;
  margin-right: 10px !important;
}

.vue-switcher div:after {
  left: 90%;
}

.vue-switcher-theme--default.vue-switcher-color--default.vue-switcher--unchecked div::after {
  background: #BDD0DA;
}

.vue-switcher-theme--default.vue-switcher-color--default.vue-switcher--unchecked div {
  background: transparent;
}

.vue-switcher--unchecked div:after {
  left: 15px;
}

.ui-icon-gripsmall-diagonal-se {
  opacity: 0;
}

// Схема взаимосвязей
.x6-graph-scroller {
  width: 100% !important;
  overflow: hidden;
}

.x6-cell rect {
  stroke: none;
}

.graph__map {
  box-shadow: 4px 4px 20px rgba(52, 73, 94, 0.1);
  border-radius: 4px;
}

.x6-widget-minimap .x6-graph {
  box-shadow: none;
}


/* Таблицы общие найстроки */
.ag-theme-alpine {
  outline: 1px solid #c1cfd9;
}

.ag-cell-label-container {
  display: none;
}

.ag-header-cell-sortable .ag-cell-label-container {
  display: flex;
}

.ag-dnd-ghost {
  height: 41px !important;
}

.ag-header-cell-resize {
  width: 5px;
  height: 100%;
  cursor: col-resize;
  opacity: 0;
  background: #a9a9a9 !important;

  &::after {
    width: 5px !important;
    height: 100% !important;
    top: 0 !important;
  }

  &:hover {
    opacity: 1;
  }
}

.ag-cell-label-container {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  line-height: 20px;
  color: #000000;
}

.ag-theme-alpine .ag-header-cell, .ag-theme-alpine .ag-header-group-cell {
  padding: 0 !important;
}

.ag-header-cell-text {
  padding-left: 10px;
}

.ag-ltr .ag-header-cell-resize {
  right: 1px;
}

.ag-cell {
  border-top: 1px solid #c1cfd9 !important;
  border-right: 1px solid #c1cfd9 !important;
  border-left: none !important;
  border-bottom: none !important;
}

.ag-header-cell-sorted-asc, .ag-header-cell-sorted-desc {
  background: #e5f6fe;
}

.ag-theme-alpine .ag-checkbox-input-wrapper.ag-checked {
  font-size: 15px;
  line-height: 15px;
  &::after {
    color: #409EFF !important;
  }
}
.ag-theme-alpine .ag-checkbox-input-wrapper:focus-within, .ag-theme-alpine .ag-checkbox-input-wrapper:active {
  box-shadow: none !important;

}

.ag-theme-alpine .ag-header {
  background-color: white;
  border-bottom: none;
}

.ag-header-cell {
  border-bottom: 1px solid #c1cfd9;
  border-top: 1px solid #c1cfd9;
  border-right: 1px solid #c1cfd9;
}

.ag-theme-alpine .ag-root-wrapper {
  border: none;
}

.ag-row {
  &:hover {
    cursor: pointer;
    background: #f2fafd !important;
  }

  &-odd {
    background: white !important;
  }

  &-even {
    background-color: #f3f7f9 !important;
  }

  &-focus {
    border: none !important;
    outline: none !important;
  }

  &-selected {
    background: #e5f6fe !important;
  }
}

.ag-row-last {
  border-bottom: 1px solid #c1cfd9 !important;
}

.ag-row-first .ag-cell {
  border-top: none !important;
}

.ag-theme-alpine .ag-cell, .ag-theme-alpine .ag-full-width-row .ag-cell-wrapper.ag-row-group {
  padding: 0 12px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 12px;
  color: #333;
}

.ag-theme-alpine .ag-checkbox-input-wrapper::after {
  content: "";
  width: 16px;
  height: 16px;
  border: 1px solid #8394A5;
  border-radius: 3px;
}

.ag-theme-alpine .ag-row {
  border-bottom-style: none;
}

.ag-header-cell:first-child {
  display: flex;
  justify-content: center;
}

.ag-cell-label-container:nth-child(2) {
  display: none;
}

.ag-pinned-left-header .ag-cell-label-container {
  display: none;
}

.ag-header-select-all {
  margin-right: 0 !important;
}

.ag-header-row .ag-header-cell {
  justify-content: center !important;
  display: flex !important;
  background: white;

  &:hover {
    background: #f2fafd;
  }
}

